.manageaccounts{
    background-color: var(--color-back-main-hover);
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.manageaccounts--table{
    color : red ;
}
.TableViewIcon:hover{
    cursor: pointer;
}
.editIcon:hover{
    cursor: pointer;
}